body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.about{
    background-image: url(../assets/img/banner-bg.png);
}

header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 20px;
}

nav {
    /* background-color: #222222; */
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 30px;
}

.hero h2 {
    margin-bottom: 10px;
}

.videos {
    margin-bottom: 30px;
}

.videos h2 {
    margin-bottom: 10px;
}

.video {
    margin-bottom: 20px;
}

.info {
    margin-bottom: 30px;
}

.info h2 {
    margin-bottom: 10px;
}

footer {
    background-color: #333333;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    padding: 0;
    color: #cccccc;
}